/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

html {
  font-family: 'Palette Mosaic', cursive;
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  color: #800000;
}



p {
color: #800000;
}





label {
   font-family: Helvetica, sans-serif;
}

a {

color: #800000;
  font-family: Helvetica, sans-serif;
    text-decoration: none;
  }
a:visited {

  color: darkorange;
}

a:hover, a:focus {
  text-decoration: none;
}


a:active {

color: #D4AF37;
}

input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: #3CBC8D;
 color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #7cfc00;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 25px;
  border-radius: 9px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.8);
  -webkit-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

button {
    width: 20%;
    margin-left: 40%;
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #7cfc00;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 30px;
  border-radius: 12px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.8);
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
button:hover, button:focus
.button:hover,
.button:focus {

  cursor: pointer;

  opacity: 0.6;
}

.button {

  background-color: #7cfc00;
   border: none;
   color: #ffffff;
   padding: 15px 32px;
    margin: 4px 2px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 0;
   position: absolute;
   top: 50%;
   left: 40%;
   -ms-transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
           transform: translateY(-50%);
}


.profile__portrait {

  width: 300px;
  margin-right: 40px;
  border-radius: 50%;

  padding: 10px;
  margin: 10px;
  border: 1px solid #black;

}

.profile {

  width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin: 10 auto;
  padding: 10px;

  border: 1px solid #black;
  text-align: center;
}


.page-header {

   clear: both;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

  -webkit-box-pack: center;

      -ms-flex-pack: center;

          justify-content: center;
	width: 100%;
	padding: 15px;

}

.page-header__item {
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 350px;
	        flex: 0 1 350px;

}


.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	list-style-type: none;
text-align: center;
}

.navigation-list li {
  display:  inline-block;
margin-left:  35px;
}
.navigation-list__item {
  display:block;
}

.content {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}
.content-title {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.content-contact {
width: 40%;
margin-left: 25%;
  background-color: #cfcfc4;
 color: black;
 clear: both;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 text-align: center;

}


.page-footer{
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;

}

.about-footer{
  background-color: #ffffff;
}

.container {
  height: 200px;
  position: relative;
  border: 0px solid #7cfc00;
}


.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;;
  grid-gap: 30px;
}

.grid__item {
  background-color: #cfcfc4;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 501px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
thead {
  color: #800000;
}
tbody{
  color: #7cfc00;
}



@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill:  #fcffad;
  }
  100% {
    fill:  #f76414;
  }
}



@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill:  #fcffad;
  }
  100% {
    fill:  #f76414;
  }
}

.sun{
	-webkit-animation-name: color-change;
	        animation-name: color-change;
	-webkit-animation-duration: 4s;
	        animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	        animation-direction: alternate;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}
